.pai {
	  display:inline-block;
   	  width:22px;
	  height:18px;
	  border:1px solid black;
	  text-align:center;
	  text-decoration:none;
	  font-style:normal;
	  margin-left:15px;
	  color:#333;
	  padding-bottom: 2px;
}
@media screen and (max-width: 640px) {
	.pai {
		margin-top: 2%;
	}
}
.pai:hover {
	        color:white;
			background:blue;
}
*{
  margin:0;
  padding:0;  
}
.pai2 {
	   display:inline;
}
.pai3 {
	   margin-top:5px;
	   margin-bottom:10px;
}
.pai4 {
   	      width:42px;
}
.pai4:hover {
	         color:white;
			 background:blue;
}
.pai5 {
   	      width:65px;
}
.pai5:hover {
	         color:white;
			 background:blue;
}
.pai9 {
	   color:white;
	   background:blue;
}
.pai10 {
		border:1px solid #E8E8E8;
		background:#E0FFFF;
		margin-top : 2%;
}
.pai12 {
	    margin-bottom:8px;
}
.reset {
	margin-top: 1%;
}
